@import '../font/Avenir Next Condensed.ttc';
@import '../font/Avenir Next.ttc';
@import '../font/Avenir.ttc';
@import '../font/AvenirLTStd-Black.otf';
@import '../font/AvenirLTStd-Book.otf';
@import '../font/AvenirLTStd-Roman.otf';

@font-face {
  font-family: 'Avenir';
  src: url("../font/AvenirLTStd-Roman.otf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root { 
  --primary: #00b050; 
  --white: #ffffff; 
  --gray10: #b3b3b3; 
  --gray20: #737373; 
  --gray30: #282828; 
  --gray40: #181818; 
  --gray50: #121212; 
  --gray60: #000000; 
  --headline1: 900 2rem/normal 'Avenir'; 
  --headline2: bold 1.5rem/1.75rem 'Avenir'; 
  --button: 500 0.875rem/1rem 'Avenir'; 
  --subtitle2: normal 0.75rem/normal 'Avenir'; 
  --smallfont: normal 0.65625rem/normal 'Avenir'; 
  --basefont-normal: normal 0.875rem/1.375rem 'Avenir'; 
  --basefont-bold: 900 0.875rem/1.375rem 'Avenir'; 
}
html {
  box-sizing: border-box;
  font-size: 62.5%;
}
body {
  font: var(--basefont-normal);
  font-size: 1.6rem;
}
*, *:before, *:after {
  box-sizing: inherit;
}
h1{
  font: var(--headline1);
  color: var(--primary);
}

h2{
  font: var(--headline2);
}

p{
  color: var(--gray20);
}
.player {
  background-color: var(--gray30);
  height: 30px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}